body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 30px;
}

.section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #1f2933;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills li {
    background: #e5e7eb;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 5px;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #1f2933;
    color: white;
}
.contact-row{
    display: flex;
    justify-content : space-between
}